apiVersion: v1
kind: ConfigMap
metadata:
  name: saferwall-ui-configmap
data:
  VUE_APP_ANALYTICS_GOOGLE_TAG: ""
  VUE_APP_BASE_URI: "http://127.0.0.1:8080/"
  VUE_APP_API_BASE_URL: "http://127.0.0.1:8000/v1/"
  VUE_APP_AVATAR_BASE_URL: "http://127.0.0.1:8080/"
  NGINX_HTTP_PORT: "8080"
