apiVersion: v1
kind: Pod
metadata:
  labels:
    app: saferwall-av-clamav-pod
  name: saferwall-av-clamav-pod
  annotations:
    seccomp.security.alpha.kubernetes.io/pod: localhost/default.json
spec:
  restartPolicy: OnFailure
  hostNetwork: true
  containers:
  - name: srv01
    image: docker.io/saferwall/goclamav
    securityContext:
      allowPrivilegeEscalation: false
      privileged: false
      capabilities:
        add: []
        drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE
      seLinuxOptions:
        type: saferwall_av_clamav.process
    resources:
      requests:
        memory: 4000Mi
        cpu: 1000m
      limits:
        memory: 4000Mi
        cpu: 1000m
    env:
    - name: SAFERWALL_DEPLOYMENT_KIND
      valueFrom:
        configMapKeyRef:
          name: saferwall-av-clamav-configmap
          key: SAFERWALL_DEPLOYMENT_KIND
    volumeMounts:
    - mountPath: /saferwall/conf/local.toml
      name: saferwall-av-clamav-config
      readOnly: true
    - mountPath: /samples
      name: saferwall-samples-data
  volumes:
  - name: saferwall-av-clamav-config
    hostPath:
      path: ./configs/local.toml
  - name: saferwall-samples-data
    persistentVolumeClaim:
      claimName: saferwall-samples-data
